<md-dialog class="login-modal"> 
  <div layout="column" class="login-modal-inner md-whiteframe-z1">
    <md-content layout="column" class="md-padding">
    
        <h3>Edit Note</h3>

        <form ng-submit="editNote(noteData)">
          <div>
            <md-input-container>
              <label>Title</label>
              <input type="text" ng-model="noteData.title" required/>
            </md-input-container>
          </div>
          <div>
            <md-input-container>
              <label>Description</label>
              <textarea ng-model="noteData.description" rows="5" required></textarea>
            </md-input-container>
          </div>

          <div layout="row" layout-align="center center">
            <md-button type='button' class="md-raised md-default" ng-click="close()">Cancel</md-button>
            <div flex="flex"></div>
            <md-button type='submit' class="md-raised md-primary">Save Changes</md-button>
          </div>
        </form>

    </md-content>
  </div>
</md-dialog>