<md-dialog class="login-modal"> 
  <div layout="column" class="login-modal-inner md-whiteframe-z1">
    <md-toolbar>
      <img src="https://d3itspfsh9cmg0.cloudfront.net/Conduit_icon-RGB-SM.png" height="50">
      <i class="material-icons" ng-click="close()">close</i>
    </md-toolbar>
    <md-content layout="column" class="md-padding">

      <form ng-submit="submitForgotForm(data)">
        <h3>Reset Your Password</h3>
        <p>Please enter your email address and we'll send you instructions for resetting your password.</p>
        <div>
          <md-input-container>
            <label>Email Address</label>
            <input type="email" ng-model="data.email" ng-disabled="disableForgotForm" class="dialog-close" required/>
          </md-input-container>
        </div>

        <div layout="column" layout-align="center right">
          <div flex>
            <md-button type='button' ng-click="close(true)">Cancel</md-button>
            <md-button type='submit' class="pink-link">Send Reset Link</md-button>
          </div>
        </div>

      </form>

    </md-content>
  </div>
</md-dialog>