<md-dialog class="login-modal"> 
  <div layout="column" class="login-modal-inner md-whiteframe-z1">
    <md-content layout="column" class="md-padding">

        <form ng-submit="login(userCreds)">
          <div>
            <md-input-container>
              <label>Email Address</label>
              <input type="email" ng-model="userCreds.username" class="dialog-close" required/>
            </md-input-container>
          </div>
          <div>
            <md-input-container>
              <label>Password</label>
              <input type="password" ng-model="userCreds.password" required/>
            </md-input-container>
          </div>
          <p class="form-error-msg" ng-show="loginFailure">Login Failed - Please try again, or reset your password.</p>
          <div layout="row" layout-align="center center">
            <md-button type='button' class="md-raised md-default" ng-click="close()">Cancel</md-button>
            <div flex="flex"></div>
            <md-button type='submit' class="md-raised md-primary">Login</md-button>
          </div>
        </form>

    </md-content>
  </div>
</md-dialog>