<md-dialog class="login-modal"> 
  <div layout="column" class="login-modal-inner md-whiteframe-z1">
    <md-toolbar>
      <img src="https://d3itspfsh9cmg0.cloudfront.net/Conduit_icon-RGB-SM.png" height="50">
      <i class="material-icons" ng-click="close()">close</i>
    </md-toolbar>
    <md-content layout="column" class="md-padding">

      <form ng-submit="submitResetForm(data)">
        <h3>Reset Your Password</h3>
        <p><strong>Email: </strong>&nbsp;{{ resetData.email }}</p>
        <md-input-container>
          <label>New Password</label>
          <input type="password" ng-model="data.password" class="dialog-close" required/>
        </md-input-container>
        <md-input-container>
          <label>Confirm Password</label>
          <input type="password" ng-model="data.confirmPassword" required/>
        </md-input-container>

        <div layout="column" layout-align="center right">
          <div flex>
            <md-button type='button' ng-click="close()">Cancel</md-button>
            <md-button type='submit' class="pink-link">Change Password</md-button>
          </div>
        </div>

      </form>

    </md-content>
  </div>
</md-dialog>