<md-dialog class="login-modal accept-terms-modal"> 
  <div layout="column" class="login-modal-inner md-whiteframe-z1">
    <md-content layout="column" class="md-padding">

      <h3>Please create a free account</h3>

      <span class="sub-link" ng-click="showLoginModal()">Already have an account?  Log In</span>

      <form name="acceptForm" ng-submit="acceptForm.$valid && submitSignupForm(data)">
        <div>
          <md-input-container>
            <label>Email</label>
            <input type="email" ng-model="data.email" class="dialog-close" required/>
          </md-input-container>
        </div>
        <div>
          <md-input-container>
            <label>Choose a Password</label>
            <input type="password" ng-model="data.password" required/>
          </md-input-container>
        </div>
        <div>
          <md-input-container>
            <label>Confirm Password</label>
            <input type="password" ng-model="data.confirmPassword" required/>
          </md-input-container>
        </div>

        <p class="form-error-msg" ng-show="showUserExistsMessage">A user with that email address already exists.</p>

        <div layout="row" layout-align="center center">
          <md-button type='button' class="md-raised md-default" ng-click="close()">Cancel</md-button>
          <div flex="flex"></div>
          <md-button type='submit' class="md-raised md-primary">Login</md-button>
        </div>

      </form>

    </md-content>
  </div>
</md-dialog>