[ng-click] {
  cursor: pointer;
}

.nav-link span {
  font-family: 'Varela Round', sans-serif !important;
  text-transform: lowercase;
  font-weight: normal !important;
  font-size: 21px;
}

md-toolbar, md-menu-item {

  i {
    vertical-align: top;
  }
}

md-sidenav {
  p {
    color: #fff;
  }
}

md-toolbar {
  background-color: #fff !important;

  md-menu {
    margin-top: 7px !important;
  }

  .md-toolbar-tools {
    flex-flow: row;
    justify-content: flex-start;
    width: 90%;
    margin: auto;
    
    .main-nav {
      margin: 10px 0 0 40px;
      
      button {
       @media screen and (max-width: 600px) {
          margin: 6px 0;
        }
      }

      button > span {
        font-weight: bold;
      }
      
      button#nowplaying {
       @media screen and (max-width: 600px) {
          margin: -1em 0 0 0;
          min-height: 0;
        }
      }
      
      button#nowplaying span {
       @media screen and (max-width: 600px) {
          font-size: 16px;
        }
      }
    }
    .right-nav {
      margin-right: -20px;

      i {
        color: #000;
        float: right;
      }
      
      @media screen and (max-width: 600px) {
        margin-right: 0;
      }
      
    }
  }
}

@media screen and (max-width: 450px) {
  md-toolbar .md-toolbar-tools {
    padding: 0;
    
    .main-nav {
      margin-left: 10px;
    }
  }
  
  .nav-link span {
    font-size: 18px;
  }
}


.login-modal {

  .sub-link {
    margin-bottom: 20px;
  }

  md-input-container {
    margin: 0;
    width: 100%;
  }

  .login-modal-inner {
    padding-top: 10px;
    min-width: 450px;
    @media screen and (max-width: 600px) {
      min-width: 300px;
    }
  }

}

.close-btn:hover {
  cursor: pointer;
}

button i {
  vertical-align: top;
  margin-top: 5px !important;
}

.delete-btn {
  line-height: 25px;
  min-height: 25px;
}

.md-sidenav-right {
  top: 40px;
  left: 99%;
  max-width: 225px;
  bottom: inherit;
  box-shadow: none;
  background-color: #333333;

  md-content {
    background-color: transparent;

    i {
      color: #fff;
      position: absolute;
      right: 0;
      top: 0;
      opacity: 0.5;

      &:hover {
        color: #ccc;
      }
    }
  
    p, a {
      text-align: center;
      margin: 0;
      text-transform: uppercase;

      &:hover {
        cursor: pointer;
        color: #ccc;
      }
    }
  }
}

.body-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(https://d3itspfsh9cmg0.cloudfront.net/wood-bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


