[ng-click] {
  cursor: pointer;
}

.nav-link span {
  font-family: 'Varela Round', sans-serif !important;
  text-transform: lowercase;
  font-weight: normal !important;
  font-size: 21px;
}

md-toolbar, md-menu-item {

  i {
    vertical-align: top;
  }
}

md-sidenav {
  p {
    color: #fff;
  }
}

md-toolbar {
  background-color: transparent !important;

  md-menu {
    margin-top: 7px !important;
  }

  .md-toolbar-tools {
    flex-flow: row;
    justify-content: flex-start;
    width: 90%;
    margin: auto;
    
    .main-nav {
      margin: 10px 0 0 40px;
      
      button {
       @media screen and (max-width: 600px) {
          margin: 6px 0;
        }
      }

      button > span {
        font-weight: bold;
      }
      
      button#nowplaying {
       @media screen and (max-width: 600px) {
          margin: -1em 0 0 0;
          min-height: 0;
        }
      }
      
      button#nowplaying span {
       @media screen and (max-width: 600px) {
          font-size: 16px;
        }
      }
    }
    .right-nav {
      margin-right: -20px;

      i {
        color: #fff;
        float: right;
      }
      
      @media screen and (max-width: 600px) {
        margin-right: 0;
      }
      
    }
  }
}

@media screen and (max-width: 450px) {
  md-toolbar .md-toolbar-tools {
    padding: 0;
    
    .main-nav {
      margin-left: 10px;
    }
  }
  
  .nav-link span {
    font-size: 18px;
  }
}


.login-modal {

  .sub-link {
    margin-bottom: 20px;
  }

  md-input-container {
    margin: 0;
    width: 100%;
  }

  .login-modal-inner {
    padding-top: 10px;
    min-width: 450px;
    @media screen and (max-width: 600px) {
      min-width: 300px;
    }
  }

}

.close-btn:hover {
  cursor: pointer;
}

button i {
  vertical-align: top;
  margin-top: 5px !important;
}

.delete-btn {
  line-height: 25px;
  min-height: 25px;
}

.md-sidenav-right {
  top: 40px;
  left: 99%;
  max-width: 225px;
  bottom: inherit;
  box-shadow: none;
  background-color: #333333;

  md-content {
    background-color: transparent;

    i {
      color: #fff;
      position: absolute;
      right: 0;
      top: 0;
      opacity: 0.5;

      &:hover {
        color: #ccc;
      }
    }
  
    p, a {
      text-align: center;
      margin: 0;
      text-transform: uppercase;

      &:hover {
        cursor: pointer;
        color: #ccc;
      }
    }
  }
}

.body-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(https://d3itspfsh9cmg0.cloudfront.net/wood-bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .inner-wrapper {
    max-width: 1280px;
    margin: auto;
    position: relative;
  }

  .img-wrapper {
    position: relative;
    float: left;
    width: 33%;
    padding: 20px;
    box-sizing: border-box;

    &.left {
      padding-right: 5px;
      padding-left: 60px;
    }

    &.center {
      padding-right: 73px;
      padding-top: 70px;
      margin-left: -52px;
      z-index: -1;
    }

    &.right {
      padding-right: 46px;
      padding-top: 45px;
      margin-left: -20px;
    }

    > div {
      -webkit-background-size: 100% !important;
      -moz-background-size: 100% !important;
      -o-background-size: 100% !important;
      background-size: 100% !important;
      width: 100%;
      padding-bottom: 107%;
      box-sizing: border-box;
    }

    .top-left-polaroid {
      background: url(https://d3itspfsh9cmg0.cloudfront.net/top-left-polaroid.png) no-repeat;
      padding-top: 82px;

      h1, h2 {
        color: #fff;
        text-align: center;
        margin: 0;
        text-shadow: 4px 4px #000;
      }

      h1 {
        font-size: 60px;
        line-height: 60px;
      }

      h2 {
        font-size: 44px;
        line-height: 44px;
      }
    }

    .middle-polaroid {
      background: url(https://d3itspfsh9cmg0.cloudfront.net/middle-polaroid.png) no-repeat;
      position: relative;  

      p {
        font-size: 15px;
        color: #fff;
        position: absolute;
        bottom: 66px;
        padding: 0 30px;
        font-weight: bold;
        text-shadow: 2px 2px #000;
      }
    }

    .top-right-polaroid {
      background: url(https://d3itspfsh9cmg0.cloudfront.net/top-right-polaroid.png) no-repeat;
    }

    .edge-polaroid {

    }

    .high-heel {

    }
  }

  .bottom-left-cta {
    padding: 22px 30px 5px 30px;
    background-color: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 800px;
    background: url(https://d3itspfsh9cmg0.cloudfront.net/bottom-left-background.png) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    h1 {
      margin: 0;
    }

    button {
      border: none;
      padding: 10px 20px;
      margin: 10px 20px 10px 0;
      color: #fff;
      text-transform: uppercase;
      -webkit-transition: background-color 200ms ease-out;
      -moz-transition: background-color 200ms ease-out;
      -o-transition: background-color 200ms ease-out;
      transition: background-color 200ms ease-out;

      &.yes-btn {
        background-color: #ff9933;

        &:hover {
          background-color: #cc6600;
        }
      }

      &.no-btn {
        background-color: #333333;

        &:hover {
          background-color: #666666;
        }
      }
    }

    @media screen and (max-width: 465px) {
      button {
        width: 100%;
        margin: 10px 0;
      }
    }
  }

  @media screen and (max-width: 800px) {
    .bottom-left-cta {
      width: inherit;
      rigth: 0;
    }
  }
}















