<md-toolbar ng-hide="wrapperCtrl.hideNav">
  <div flex layout="row" class="md-toolbar-tools">

    <div class="right-nav" flex="auto" flex-xs="auto">
      <i class="material-icons" ng-click="wrapperCtrl.showSideNav()">menu</i>
    </div>
  </div>
</md-toolbar>

<md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right-nav" ng-hide="wrapperCtrl.hideNav">
  <md-content ng-controller="sideNavCtrl" layout-padding layout="column">
    <i class="material-icons" ng-click="close()">close</i>
    <!-- <p ng-show="wrapperCtrl.userData">Logged in as: <br> {{ wrapperCtrl.userData.username }}</p> -->

    <p ng-show="wrapperCtrl.username">Logged in as: {{ wrapperCtrl.username }}</p>

    <p flex 
               ng-show="!wrapperCtrl.userData || !wrapperCtrl.userData.username"
               ng-click="show('logIn')">
      Log In
    </p>
    <p flex 
               class="pink-link"
               ng-show="!wrapperCtrl.userData || !wrapperCtrl.userData.username"
               ng-click="show('createAccount')">
      Sign Up
    </p>
    <p flex 
               ng-show="wrapperCtrl.userData && wrapperCtrl.userData.username"
               ng-click="show('newNote')">
      New Note
    </p>
    <p flex 
               ng-show="wrapperCtrl.userData && wrapperCtrl.userData.username"
               ng-click="show('viewNotes')">
      My Notes
    </p>
    <p flex 
               ng-show="wrapperCtrl.userData && wrapperCtrl.userData.username"
               ng-click="logOut()">
      Log Out
    </p>

  </md-content>
</md-sidenav>

<div class="body-wrapper" flex="none">
  <div class="img-wrapper left">
    <div class="top-left-polaroid">
      <h1>Polaroid</h1>
      <h2>Celebration</h2>
    </div>
  </div>

  <div class="img-wrapper center">
    <div class="middle-polaroid">
      <p>Book Signing & Cocktail Hour of Instant — The Story of Polaroid by author Christopher Bonanos.</p>
    </div>
  </div>

  <div class="img-wrapper right">
    <div class="top-right-polaroid">
    </div>
  </div>

  <div class="bottom-left-cta">
    <h1>Stop by for a minute.</h1>
    <p>Celebrate one of the most influential products of our time that for 60 years did what no other invention could do. Learn about the man behind the camera who influenced the likes of Steve Jobs and Instagram & expose yourself to instant gratification by snapping a few candid shots of your own.</p>
    <button class="yes-btn" ng-click="wrapperCtrl.handleYesClick()">Yes, I'm Coming</button>
    <button class="no-btn" ng-click="wrapperCtrl.handleNoClick()">No, Not This Time</button>
  </div>
</div>






