<md-toolbar ng-hide="wrapperCtrl.hideNav">
  <div flex layout="row" class="md-toolbar-tools">

    <div class="right-nav" flex="auto" flex-xs="auto">
      <i class="material-icons" ng-click="wrapperCtrl.showSideNav()">menu</i>
    </div>
  </div>
</md-toolbar>

<md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right-nav" ng-hide="wrapperCtrl.hideNav">
  <md-content ng-controller="sideNavCtrl" layout-padding layout="column">
    <i class="material-icons" ng-click="close()">close</i>
    <!-- <p ng-show="wrapperCtrl.userData">Logged in as: <br> {{ wrapperCtrl.userData.username }}</p> -->

    <p ng-show="wrapperCtrl.username">Logged in as: {{ wrapperCtrl.username }}</p>

    <p flex 
               ng-show="wrapperCtrl.userData && wrapperCtrl.userData.username"
               ng-click="logOut()">
      Log Out
    </p>
    <p flex 
               ng-show="!wrapperCtrl.userData || !wrapperCtrl.userData.username"
               ng-click="show('logIn')">
      Log In
    </p>
    <p flex 
               class="pink-link"
               ng-show="!wrapperCtrl.userData || !wrapperCtrl.userData.username"
               ng-click="show('createAccount')">
      Sign Up
    </p>

  </md-content>
</md-sidenav>

<div class="body-wrapper" flex="100" layout="row" layout-wrap layout-padding>



</div>






